.report {   
    
    &__heading {
        font-size: 1.5em;
    }

    &__date {
        display: block;
        margin-top: -0.2em;
        font-size: 1.4em;
    }
    
    &__link {
        margin-left: 1rem;
    }

    &__pulls-list {
        list-style: none;
    }

}

.pull {
    margin: 1.5rem 0;

    &__nums {
        display: flex;
        align-items: center;
    }

    &__num-today {
        margin: 0;
    }

    &__num-total {
        margin-left: 1rem;
        font-style: italic;
    }
}