@use "/src/styles/__variables" as *;

.form {
    &__pickers-container {
        display: flex;
        width: 80%;
        margin: 1rem auto;
        border: 1px solid $borders;
        border-radius: 2px;
        background-color: $bg-mid;

        & *div {
            width: 300px;
        }
    }
}