@use "/src/styles/__variables" as *;
@use "/src/styles/__mixins" as *;

.accordion-item {
    &__header {
        width: 100%;
        padding: 1em;
        border:  none;
        background-color: $bg-mid;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-display;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.05em;
        color: $text-light;
        cursor: pointer;
    }

    &__control {
        transition: all ease 0.25s;

        &--active {
            transform: rotate(180deg)
        }
    }
}