@use "/src/styles/__variables" as *;

.pull {
    border-top: 1px solid $borders;
    
    &__cell {
        border-left: 1px solid $borders;
        padding: 0.3rem 0.7rem;

        &:first-of-type {
            border-left: none;
            text-align: center;
        }

        &:nth-of-type(2) {
            text-align: center;
        }

        &:nth-of-type(3) {
            text-align: center;
        }
    }

    &__button {
        margin-right: 0.75em;
        padding: 0 0.5em;

        &:hover {
            cursor: pointer;
        }
    }
}