@use "/src/styles/__variables" as *;

.header {
    width: 100vw;
    height: 40px;
    background-color: $bg-mid;
}

.nav {
    width: 100%;
    display: flex;

    &__list {
        list-style: none;
        display: flex;
    }
}