@use "/src/styles/__variables" as *;
@use "/src/styles/__mixins" as *;


.tl {
    height: 0;
    overflow: hidden;
    transition: all ease 0.5s;
    
    &__title {
        margin-bottom: 1rem;
    }

    &__img {
        max-height: 400px;
        width: 70%;
        object-fit: cover;
    }

    &__table {
        border-collapse: collapse;
        width: 100%;
        background: $bg-mid;
        table-layout: fixed;
    }
    
    &__header-cell {
        border-bottom: 1px solid $borders;
        padding: 0.7rem;
        background: $bg-light;
        text-align: left;

        &--time {
            width: 4rem;
        }

        &--name {
            width: 15rem;
        }

        &--dmg {
            width: 4rem;
        }

        &--desc {
            width: 15rem;
        }

        &--mits-heals {
            width: 100%;
        }
    }

    &__cell {        
        border-left: 1px solid $borders;
        border-bottom: 1px solid $borders;
        padding: 0.3rem 0.7rem;
        height: 2.7rem;

        &--time {
            border-left: none;
        }

        &--mits-heals {
            display: flex;
            align-items: center;
        }
    }

    &__action-icon {
        max-width: 36px;
        max-height: 36px;
        margin: 0 0.1rem;
    }

    &__arrow {
        margin: 0 0.5rem;
    }
}