@use "/src/styles/__variables" as *;
@use "/src/styles/__mixins" as *;


.tl {
    &__title {
        margin-bottom: 1rem;
    }

    &__table {
        border-collapse: collapse;
        width: 100%;
        background: $bg-mid;
        table-layout: fixed;
    }
    
    &__header-cell {
        border-bottom: 1px solid $borders;
        padding: 0.7rem;
        background: $bg-light;
        text-align: left;

        &--time {
            width: 4rem;
        }

        &--name {
            width: 15rem;
        }

        &--dmg {
            width: 4rem;
        }

        &--desc {
            width: 15rem;
        }

        &--mits-heals {
            width: 100%;
        }
    }

    &__cell {        
        border-left: 1px solid $borders;
        border-bottom: 1px solid $borders;
        padding: 0.3rem 0.7rem;

        &--time {
            border-left: none;
        }
    }
}