@use "/src/styles/__variables" as *;

.phases-table {
    &__cell--old {
        color: $grey;
    }
    &__cell--cleanup {
        color: $green;
    }
    &__cell--target {
        color: $blue;
    }
    &__cell--newphase {
         color: $purple;
    }
    &__cell--null {
        color: $grey;
    }
}