.notes {
    &__body-text {
        // max-width: 90ch;
        margin: 0.25em 0;

        &--italic {
            font-style: italic;
            margin-bottom: 2em;
        }
    }

    &__subheading {
        margin-bottom: 1em;
    }

    &__list {
        margin-left: 2em;
    }

    &__bold-text {
        font-weight: bold;
    }
    

    &__list-item {
        &--solution {
            font-style: italic;
        }
    }

    &__subsection {
        margin-bottom: 2.5em;
    }

    &__subsection-heading {
        margin-bottom: 0.5em;
    }
}

.clip {
    margin-bottom: 1.2em;
    margin-left: 1em;
}