.notes {
    &__body-text {
        max-width: 90ch;
        margin: 0.5em 0;

        &--italic {
            font-style: italic;
        }
    }

    &__list {
        margin-left: 2em;
    }

    &__bold-text {
        font-weight: bold;
    }

    &__list-item {
        &--solution {
            font-style: italic;
        }
    }
}